body {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8e3b6;
  color: #342e22e1 ;
}
.main_header{
  width: 400px;
  height: 90px;
  border: none;
  border-radius: 40px 0px 0px 10px;
  background-color: #ffb81f;
  display:flex ;
  justify-content:start;
}
.main_header h1{
 margin-right: 10px;
}
.sub_header{
  width: 90%;
  height: 90px;
  background-color: #ffc444f6;
  display:flex ;
  justify-content:space-between;
  border-radius: 0px 40px 40px 0px;
}
.sub_header h2{
  margin-left: 10px;
}
.main_header p{
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
}
.osnova{
  display: flex;
  padding-top: 50px;
}
.verh{
  display: flex;
  justify-content: start;
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	margin: 20px 0;
}

.container .card {
	position: relative;
	width: 320px;
	height: 850px;
	background: rgba(255, 255, 255, 0.05);
	margin: 15px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: start;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 300px;
	height: 500px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
  display: block;
  padding: 35px 10px 10px 10px;
}

.container .card .content .contentBx {
  padding: 0px 5px 0px 5px;
  margin-top: -15px;  
}

.container .card .content .contentBx h3 {
	color: #0c0700;
	text-transform: uppercase;
	font-weight: 650;
	font-size: 24px;
	text-align: center;
	margin: 20px 0 250px;
	line-height: 1em;
}

.container .card .content .contentBx span {
  display: block;
  color: #070500;
	font-size: 20px;
	font-weight: 250;
  letter-spacing: 0.4px;
	text-transform: initial;
  text-align: justify;
  text-wrap: balance;
}

.container .card .sci {
	position: absolute;
	bottom: 40px;
	display: flex;
  margin-left: -35px;
  text-align: center;
}

.container .card .sci span {
	list-style: none;
	margin: 0px 5px 0px 5px;
	transform: translateY(35px);
	transition: 0.4s;
	opacity: 0;
}

.container .card:hover .sci span {
	transform: translateY(0px);
	opacity: 1;
}


.hidden{
  opacity: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
}


*, *:before, *:after {
  box-sizing: border-box;
}
.wrapper{
    max-width: 1170px;
    margin: 2rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.grid--4{
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
}
.grid--4 .grid__item{
    flex-basis: 100%;
    padding-left: 16px;
    margin-bottom: 1rem;
}
@media(min-width:400px){
    .grid--4 .grid__item{
        flex-basis: 50%;
    }
}
@media(min-width:700px){
    .grid--4 .grid__item{
        flex-basis: 33.33%;
    }
}
@media(min-width:1000px){
    .grid--4 .grid__item{
        flex-basis: 25%; 
    }
}


.sidebar{
  width: 275px;
  min-width: 200px;
}
.widget:not(:last-child){
  margin-bottom: 30px;
}
.widget_title{
  position: relative;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.widget_title::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("/img/chevron-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.location{
  background-color: #fff0cf;
  width: 100%;
  border-radius: 4px;
}
.location__row{
  display: flex;
}
.location__row:first-child {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  border: 1px solid #D6D6D6;
}

.location__row:last-child {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  border: 1px solid #D6D6D6;
  border-top: none;
}

.location_label {
  flex-grow: 1;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 14px;
  color: #3C3C3C;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
  border: none;
}

.location_label:hover{
  background-color: #fff0bb;
}
.location_input{
  width: 3px;
  height: 3px;
  position: absolute;
  opacity: 0;
}
.location_input:checked+.location_label{
  background-color: #FFCF26;
}
.location_input+.location_label:hover{
  background-color: #FFCF26;
}
.radio_group{
  display: block;
  cursor: pointer;
}
.radio_group:not(:last-child){
  margin-bottom: 15px;
}
.radio_button {
  display: none;
}
.radio_fake{
  position: relative;
  display :inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #777;
  vertical-align: bottom;

}
.radio_title {
  font-size: 16px;
  color: #000;
  line-height: 1.18;
}
.radio_button:checked~.radio_fake{
  background-color: #FFCF26;
}
.radio_button:checked~.radio_title{
  font-weight: 700;
}
.radio_button:checked~.radio_fake::before{
  content: '';
  position:absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #3C3C3C;
}
.checkbox__group{
  display: block;
  cursor: pointer;
}
.checkbox__group:not(:last-child){
  margin-bottom: 15px;
}
.checkbox_button{
  display: none;
}
.checkbox__fake{
  position: relative;
  display :inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #777;
  vertical-align: bottom;
}
.checkbox__title {
  font-size: 16px;
  color: #000;
  line-height: 1.18;
}
.checkbox_button:checked~.checkbox__fake{
  background-color: #FFCF26;
}
.checkbox_button:checked~.checkbox__title{
  font-weight: 700;
}
.checkbox_button:checked~.checkbox__fake::before{
  content: '';
  position:absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("img/check.svg");
  background-repeat: no-repeat;
  image-orientation: center;
}
.widget_hidden{
  display: none;
}
.wiew_more{
  display: inline-block;
background: transparent;
border-radius: 0;
border: none;
font-size: 16px;
line-height: 1.18;
color: #4290c9;
padding: 0;
cursor: pointer;
}
.wiew_more:hover{
  text-decoration: underline;
}
.toggle{
  cursor: pointer;
}
.toggle_button{
  display: none;
}
.toggle__title{
  font-size: 16px;
  line-height: 1.18;
  color:#000;
}
.toggle__fake{
position: relative;
display: inline-block;
vertical-align: bottom;
width: 37px;
height: 20px;
background-color: #8f8f8f;
border-radius: 10px;
margin-top: 10px;
}
.toggle__fake::before{
  position: absolute;
  top:2px;
  left:2px;
  content: '';
  width: 16px;
  height: 16px;
  background-color: #3b3b3b;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.toggle_button:checked~.toggle__fake{
  background-color: #FFE074;
}
.toggle_button:checked~.toggle__title{
  font-weight: 700;
}
.toggle_button:checked~.toggle__fake::before{
  left:19px;
}
.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 50px;
  background-color: #fff;
  border: solid 1px #D6D6D6;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.18;
  color:#3c3c3c;
  transition: 0.2s ease-in;
}
.filter::after{
  background-color: #e7e7e7;
}
.filter:not(:last-child){
  margin-bottom: 10px;
}
.filter:hover{
  background-color: #e7e7e7;
}
.btn_submit{
  border: none;
  background-color:#FFCF26;
  color:black;
}
.btn_submit:hover{
  background-color:#ffe173;
}
@media(max-width: 1200px) {
  .container{
  width: 830px;
  }    
}
@media(max-width: 829px){
  .container{
      width: 600px;
  }  
  .sidebar{
      position: fixed;
      top: 0;
      left: 0;
      padding: 15px;
      background-color: white;
      box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);

  }
}
@media (max-width: 599px){
  .cards-holder{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

}